<div class="card w-75" style="margin: 0 auto;">
  <div class="input-group">
    <input type="text"
           name="inputSearch"
           id="inputSearch"
           (keyup)="searchTerm$.next($event.target.value)"
           class="form-control"
           placeholder="Tap to search"
           aria-label="Recipient's username"
           aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Search</span>
    </div>
  </div>
  <div class="card-body">
    <jqxDataTable style="margin: 0 auto;"
                  [source]="dataAdapter" [sortable]="true" [pageable]="true" [columns]="columns">
    </jqxDataTable>
  </div>
</div>


<router-outlet></router-outlet>
